body {
    margin: 0;
    background-image: url(lolololololololololololol.jpg);
    font-family: Arial;
}

.LOL {
    background-image: url(images.jpg);
    width: 540px;
    height: 93px;
    margin-right: auto;
    margin-left: auto;
}

.main1 {
    background-image: url(images.png);
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-size: 100%;
    padding-top: 100px;
}

.h2 {
    text-align: center;
    font-size: 30px;
    color: saddlebrown;
}

.lkjh {
    width: 280px;
    height: 210px;
    padding-top: 5px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.mmo {
    width: 1000px;
    height: 300px;
    text-align: center;
}

.lkjh1 {
    width: 280px;
    height: 210px;
    padding-top: 5px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.lll {
    margin-top: 50px;
}

.h1 {
    color: olive;
    margin: auto;
    text-decoration: none;
}

.img1 {
    margin-right: auto;
    margin-left: auto;
    height: 187px;
    width: 270px;
}

.vvv {
    margin-right: auto;
    margin-left: auto;
}

.main {
    background-image: url(download.jpg);
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.h11 {
    color: olive;
    margin: auto;
    text-decoration: none;
}